body {
    font-family: 'whitney-2', 'Geometria Light';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../image/background/bg2.jpg);
  }

  ::-webkit-scrollbar {
    display: none;
  }

  header {
    font-family: 'whitney-2', 'Video';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a.active {
    color: #ff7b00; /* Цвет активной ссылки */
}

nav ul li a:hover {
    color: #ddd;
}

.account-menu {
    position: relative;
}

.account-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 0;
}

.account-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Скрываем стандартное меню */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #333;
        border-radius: 5px;
        padding: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .burger-menu {
        display: flex; /* Показываем бургер-меню */
    }
}

p {
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

.footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.social-media-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}