body{
    font-family: 'whitney-2', 'Hitmarker Text';
    font-weight: normal;
  margin: 0px;
  overflow: hidden;
}

.menu__item {
  display: block;
  padding: 12px 12px;
  color: #F0F0F0;
  font-family: 'Catallina', sans-serif;
  font-size: 20px;
  font-weight: 10;
  text-decoration: none;
}

div{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: radial-gradient(circle, #ff6200 0%, #12000b 100%);
  overflow: hidden;
}

.wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h2{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  animation: flicker4 5s linear 4s infinite;
}

#svgWrap_1,
#svgWrap_2{
  position: absolute;
  height: auto;
  width: 600px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svgWrap_1,
#svgWrap_2,

#id1_1,
#id2_1,
#id3_1{
  stroke: #F0F0F0;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id1_2,
#id2_2,
#id3_2{
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id3_1{
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}

#id2_1{
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}

#id1_1{
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}
