body{
    font-family: 'whitney-2', 'Hitmarker Normal';
    font-weight: normal;
  margin: 0px;
  overflow: hidden;
}

.menu__item {
  display: block;
  margin-top: 620px;
  text-align: center;
  padding: 12px 12px;
  color: #F0F0F0;
  font-family: 'Hitmarker Normal', sans-serif;
  font-size: 20px;
  font-weight: 10;
  text-decoration: none;
}

div{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: radial-gradient(circle, #ff6200 0%, #12000b 100%);
  overflow: hidden;
}

.wrap{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  animation: flicker4 5s linear 4s infinite;
}

#svgWrap_1,
#svgWrap_2{
  position: absolute;
  height: auto;
  width: 600px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svgWrap_1,
#svgWrap_2,

#id1_1,
#id2_1,
#id3_1{
  stroke: #F0F0F0;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id1_2,
#id2_2,
#id3_2{
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id3_1{
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}

#id2_1{
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}

#id1_1{
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}

@keyframes drawLine1 {
  0%  {stroke-dashoffset: -940px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes drawLine2 {
  0%  {stroke-dashoffset: -735px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes drawLine3 {
  0%  {stroke-dashoffset: -940px;}
  100%{stroke-dashoffset: 0px;}
}

@keyframes flicker1{
  0%  {stroke: #F0F0F0;}
  1%  {stroke: transparent;}
  3%  {stroke: transparent;}
  4%  {stroke: #F0F0F0;}
  6%  {stroke: #F0F0F0;}
  7%  {stroke: transparent;}
  13% {stroke: transparent;}
  14% {stroke: #F0F0F0;}
  100%{stroke: #F0F0F0;}
}

@keyframes flicker2{
  0%  {stroke: #F0F0F0;}
  50% {stroke: #F0F0F0;}
  51% {stroke: transparent;}
  61% {stroke: transparent;}
  62% {stroke: #F0F0F0;}
  100%{stroke: #F0F0F0;}
}

@keyframes flicker3{
  0%  {stroke: #F0F0F0;}
  1%  {stroke: transparent;}
  10% {stroke: transparent;}
  11% {stroke: #F0F0F0;}
  40% {stroke: #F0F0F0;}
  41% {stroke: transparent;}
  45% {stroke: transparent;}
  46% {stroke: #F0F0F0;}
  100%{stroke: #F0F0F0;}
}

@keyframes flicker4{
  0%  {color: #F0F0F0;}
  30% {color: #F0F0F0;}
  31% {color: #111318;}
  32% {color: #F0F0F0;}
  36% {color: #F0F0F0;}
  37% {color: #111318;}
  41% {color: #111318;}
  42% {color: #F0F0F0;}
  85% {color: #F0F0F0;}
  86% {color: #111318;}
  95% {color: #111318;}
  96% {color: #F0F0F0;}
  100%{color: #F0F0F0;}
}

@keyframes hueRotate{
  0%  {
    filter: hue-rotate(0deg);
  }
  50%  {
    filter: hue-rotate(-120deg);
  }
  100%  {
    filter: hue-rotate(0deg);
  }
}